NODE_ENV=development
DATABASE_URL="postgresql://omnichannel:omnichannel_secret@localhost:5432/omnichannel_db"
DIRECT_URL="postgresql://omnichannel:omnichannel_secret@localhost:5432/omnichannel_db"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_secret
SHOPEE_PARTNER_ID=
SHOPEE_PARTNER_KEY=
SHOPEE_BASE_URL=https://partner.shopeemobile.com
